/* section */

.statss-section{
  background:#0b0b0b;
  padding-top: 120px;
  padding-bottom: 90px;
  padding-left: 8%;
  padding-right: 8%;
  color:#fff;
  
}

/* subtitle */

.stats-subtitle{
  color:#c6ff00;
  font-size:12px;
  letter-spacing:2px;
  margin-bottom:10px;
}

/* title */

.stats-title{
  font-size: clamp(24px, 3vw, 34px);
  font-weight:600;
  color:#ffffff;
}

/* card */

.stats-cards{
  background:#111;
  border-radius:0;
  padding:28px;
  text-align:left;
  border:1px solid rgba(255,255,255,0.05);
  transition:all 0.4s ease;
  height:100%;
}

/* number */

.stats-number{
  font-size:26px;
  font-weight:700;
  margin-bottom:6px;
}

/* text */

.stats-text{
  font-size:13px;
  color:#9aa0a6;
}

/* highlight */

.stats-highlight{
  border:1px solid #d4ff00;
  box-shadow:0 0 15px rgba(212,255,0,0.25);
}

/* hover */

.stats-cards:hover{
  transform:translateY(-6px);
  background:linear-gradient(135deg,#000000,#c6ff00);
  color:#000;
}

.stats-cards:hover .stats-number{
  color:#000;
}

.stats-cards:hover .stats-text{
  color:#000;
}

/* responsive */

@media(max-width:992px){
  .stats-section{
    padding:80px 8%;
  }
}

@media(max-width:768px){
  .stats-section{
    padding:70px 5%;
  }

  .stats-title{
    font-size:26px;
  }

  .stats-card{
    padding:24px;
  }

  .stats-number{
    font-size:22px;
  }
}

/* fix equal height */

.stats-section .col-lg-3{
  display:flex;
}

/* make column flex */
.stats-section .col-lg-3,
.stats-section .col-md-6,
.stats-section .col-12{
  display: flex;
}

/* make card fill full width */
.stats-card{
  width: 100%;
  height: 100%;
}

/* make column flex */
.stats-section .col-lg-3,
.stats-section .col-md-6,
.stats-section .col-12{
  display: flex;
}

/* make card fill full width */
.stats-card{
  width: 100%;
  height: 100%;
}