.web3-section{
background:#0b0b0b;
color:white;
padding:80px 10%; /* left & right space */
}

.title{
text-align:center;
margin-bottom:50px;
font-size:clamp(24px,4vw,36px);
font-weight:700;
color: #ffffff;
}

.panel-list{
display:flex;
height:80vh; /* increased height */
overflow:hidden;
list-style:none;
padding:0;
margin:0;
}

/* panels */

.panel-list li{
flex:1;
position:relative;
transition:all .6s ease;
cursor:pointer;
border-right:1px solid rgba(255,255,255,0.2);
border-radius:10px;
overflow:hidden;
}

/* image */

.panel-list li img{
width:100%;
height:100%;
object-fit:cover;
position:absolute;
inset:0;
transition:.5s;
}

/* text */

.panel-text{
position:absolute;
bottom:30px;
left:30px;
right:30px;
z-index:2;
}

.panel-text h3{
/* font-size:28px; */
font-size:clamp(20px,3vw,23px);
font-weight:700;
}

.panel-text h4{
margin-top:15px;
font-size:15px;
line-height:1.6;
opacity:.9;
}

/* dark overlay */

.panel-list li::after{
content:"";
position:absolute;
inset:0;
background:rgba(0,0,0,.45);
}

/* hover behaviour */

.panel-list:hover li{
flex:.6; /* card width slightly reduced */
}

.panel-list li:hover{
flex:5;
}

/* hide other images */

.panel-list:hover li:not(:hover) img{
opacity:0;
}

/* vertical titles */

.panel-list:hover li:not(:hover) h3{
writing-mode:vertical-rl;
transform:rotate(180deg);
font-size:18px;
}

/* hide desc */

.panel-list:hover li:not(:hover) h4{
display:none;
}


/* Responsiveness code */

/* =========================
   Tablet
========================= */

@media (max-width: 992px){

.panel-list{
height:auto;
flex-direction:column;
gap:30px;
}

.panel-list li{
flex:none;
height:320px;
border-right:none;
}

}

/* =========================
   Mobile
========================= */

@media (max-width: 576px){

.web3-section{
padding:60px 6%;
}

.panel-list{
height:auto;
flex-direction:column;
gap:25px;
}

.panel-list li{
flex:none;
height:260px;
border-right:none;
}

.panel-text{
bottom:20px;
left:20px;
right:20px;
}

.panel-text h3{
font-size:20px;
}

.panel-text h4{
font-size:14px;
line-height:1.5;
}

/* hover animation disable only mobile */

.panel-list:hover li{
flex:none;
}

.panel-list li:hover{
flex:none;
}

.panel-list:hover li:not(:hover) img{
opacity:1;
}

.panel-list:hover li:not(:hover) h3{
writing-mode:horizontal-tb;
transform:none;
}

.panel-list:hover li:not(:hover) h4{
display:block;
}

}

/* =========================
   Large Screens (4K Fix)
========================= */

@media (min-width: 1600px){

.web3-section{
max-width:1400px;
margin:auto;
}

}